Azure-AI-Agent-Bing/C-Sharp/AI-Agent/.idea 
Azure-AI-Agent-Bing/C-Sharp/AI-Agent/AI-Agent/bin
Azure-AI-Agent-Bing/C-Sharp/AI-Agent/AI-Agent/obj
*/venv
Azure-AI-Agent-Bing/__pycache__/user_functions.cpython-311.pyc
*/.env
MCP-Framework/server/__pycache__
 

Doctor-Appointment-MultiAgents/__pycache__
Doctor-Appointment-MultiAgents/data_models/__pycache__
Doctor-Appointment-MultiAgents/prompt_library/__pycache__ 
Doctor-Appointment-MultiAgents/toolkit/__pycache__ 
Doctor-Appointment-MultiAgents/utils/__pycache__ 
ai-integrated-react-app-with-auth/backend/src/.env
ai-integrated-react-app-with-auth/frontend/.env
Fullstack-AI-Assistant/Backend/node_modules

Fullstack-AI-Assistant/Backend/dist
Fullstack-AI-Assistant/Backend/.env

